

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    @apply flex justify-center items-center;
    background-color: black
}

.stepItem{
    @apply relative flex justify-center items-center  flex-col space-y-3 w-full ;
}

.stepItem:not(:first-child):before{
    @apply content-[''] bg-slate-400 absolute w-full h-[3px] right-2/4 top-1/3;
}

.active .step{
    @apply bg-blue-600;
}

.complete .step{
    @apply bg-green-600;
}

.complete p{
    @apply text-white;
}

.step{
    @apply text-white px-7 py-5 rounded-full  bg-gray-900 z-10;
    
}

.complete:not(:first-child):before, .active:not(:first-child):before{
    @apply bg-green-700;
}

